
<div class="animated fadeIn" ng-controller="dashboardController" style="padding: 10px;">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 dashboard-card" ng-click="redirectToLead()">
      List Lead
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 dashboard-card">
      Total Lead 
    </div>    
  </div>
  
</div>

<style>
.dashboard-card{
  text-align: center;
    height: 50px;
    margin-left: 68px;
    width: 50px;
    background-color: #A4B6CE;
    border: 1px solid darkgreen;
    padding: 11px;
}
</style>
